@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Hind+Vadodara:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
  background-color: #f9f7ff;
}

nav {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem auto;
}

.description-section {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7rem auto;
}

.description-section .description h3 {
  font-size: 2rem;
}

.description-section .description p {
  opacity: 0.8;
}

.description-section .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description-section .icons a {
  background: rgba(0, 56, 255, 0.18);
  padding: 0.5rem;
  margin: 0 2rem;
  border-radius: 0.3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.description-section .icons div:hover {
  background: rgba(0, 55, 255, 0.089);
}

.image-video-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5rem auto;
}

.image-video-container .tag {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image-video-container .tag h2 {
  font-weight: 600;
  letter-spacing: 1px;
}

.image-video-container .filters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem auto 1rem auto;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.image-video-container .filters p {
  border: 1px solid black;
  padding: 0.4rem 1rem;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 1rem;
}

.image-video-container .filters p:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(230, 230, 230, 0.527);
}

.image-video-container .filters .active {
  background-color: #00eeff;
}

.image-video-container .filters::-webkit-scrollbar {
  display: none;
}

.images,
.videos,
.video-shows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 2rem;
}

.images::-webkit-scrollbar {
  display: none;
}

.videos::-webkit-scrollbar {
  display: none;
}

.video-shows::-webkit-scrollbar {
  display: none;
}

.image-container {
  min-width: 200px;
  height: 200px;
  background: linear-gradient(45deg, rgba(105, 104, 104, 0.418), rgba(255, 255, 255, 0.377));
  border-radius: 0.9rem;
  position: relative;
  margin-right: 2rem;
}

.image-container .img-main {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.9rem;
}

.image-container .actions {
  width: 80%;
  position: absolute;
  bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.image-container .actions img {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.image-container .actions img:hover {
  opacity: 1;
}

.video-container {
  min-width: 200px;
  height: 350px;
  position: relative;
  margin-right: 2rem;
}

.video-container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}

.video-container .actions {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.video-container .actions img {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.video-container .actions img:hover {
  opacity: 1;
}

.video-container .play {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.699);
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.video-container .play:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: white;
}

.video-show-container {
  min-width: 330px;
  height: 250px;
  margin-right: 2rem;
}

.video-show-container iframe {
  border-radius: 0.5rem;
}

.leaderboard {
  width: 90%;
  background-color: #ded5f8;
  margin: 5rem auto;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.leaderboard .leaderboard-info {
  margin: 3rem auto;
}

.leaderboard-top {
  margin: 4rem auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important;
}

.leaderboard-top .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.leaderboard-top .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.leaderboard-top .leaderboard-details h4 {
  margin-top: 0.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.leaderboard-top .leaderboard-details p {
  margin: 0.1rem auto 1rem auto;
}

.leaderboard-top .leaderboard-details button {
  background-color: blueviolet;
  border: none;
  color: white;
  padding: 0.4rem 0.7rem;
  border-radius: 50px;
  letter-spacing: 2px;
  cursor: pointer;
}

.leaderboard-top div:nth-child(2) .avatar {
  width: 120px;
  height: 120px;
}

.profile_avatar_wrap {
  position: relative;
}

.profile_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: greenyellow;
}

.profile_avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile_decoration {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.profile_decoration circle {
  fill: none;
  stroke: red;
  stroke-width: 3px;
  stroke-dasharray: 0;
  stroke-dashoffset: 110;
}
/*# sourceMappingURL=style.css.map */